html {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

.container {
  background-color: black;
  color: white;
}

.description {
  color: lightgray;
}

.notes {
  color: gray;
  font-size: small;
  font-style: italic;
}

.texts {
  width: 40%;
  display: inline-block;
}

.images {
  width: 60%;
  display: inline-block;
}

img {
  width: 100%;
}

.scroll {
  overflow-x: scroll;
}

.thumbnail {
  width: 6000px;
}

.thumbnail img {
  width: 200px;
  height: 100px;
  display: inline;
  margin: 0 12px 0 0;
}
