html {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

.container {
  background-color: black;
  color: white;
}

.description {
  color: lightgray;
}

.notes {
  color: gray;
  font-size: small;
  font-style: italic;
}

.texts {
  width: 40%;
  display: inline-block;
}

.images {
  width: 60%;
  display: inline-block;
}

img {
  width: 100%;
}
