html {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

.container {
  background-color: black;
  color: white;
}

.description {
  color: lightgray;
}

.notes {
  color: gray;
  font-size: small;
  font-style: italic;
}

.texts {
  width: 40%;
  display: inline-block;
}

.images {
  width: 60%;
  display: inline-block;
}

img {
  width: 100%;
}

.scroll {
  overflow-x: scroll;
}

.thumbnail {
  width: 6000px;
}

.thumbnail img {
  width: 200px;
  height: 100px;
  display: inline;
  margin: 0 12px 0 0;
}

.button {
  background-color: red;
  color: white;
  font-style: bold;
  border: none;
  width: 170px;
  padding: 10px;
  border-radius: 5px;
}

.widget {
  background-color: rgb(73, 72, 72);
  margin: auto;
  width: 180px;
  padding: 10px;
  margin-top: 50px;
}
.loginNotes {
  font-size: small;
}

.thumbnail > img:hover {
  border: red solid;
}
svg {
  width: 30px;
}

.player-container {
  width: 600px;
  height: 420px;
  background-image: url('https://placekitten.com/g/800/640');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-self: flex-start;
  justify-content: space-between;
  align-content: space-around;
}

.bot{
  display: flex;
  justify-self: flex-start;
}

